@charset "UTF-8";
/* CSS Document */

/*
Project: Metagraft
Author: SIDDHARTH ARUN
Author URL: http://siddharth.is
*/


/* RESET
-----------------------------------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body
{
	background: #FFF;
	font-family: 'Calibre', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #555;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	font-smooth: always;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a { text-decoration: none; }
a:hover { text-decoration: underline; }

em {
    font-style: italic;
}

/* Styles ----------- */

.inline-logo {
   width: 40px;
   height: 40px;
   display: block;
   background: url('../images/logo.png') top left no-repeat;
   background-size: 40px 40px;
}

h1 {
   font-size: 60px;
   line-height: 56px;
   color: #FF2525;
   padding: 60px 0;
	font-weight: 400;
}

h2 {
	font-size: 14px;
	line-height: 14px;
	color: #959595;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 0 0 15px 0;
}

.page {
	width: 650px;
	height: 370px;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -325px;
	margin-top: -185px;
}

.contact {
   overflow: hidden;
}

.column {
   float: left;
	padding: 0 60px 0 0;
}

ul.list {
	margin: 0;
	padding: 0;
}

	ul.list li {
		list-style: none;
		font-size: 20px;
		line-height: 20px;
		padding: 0 0 8px 0;
		color: #151515;
	}

		ul.list li a,
		ul.list li span {
			color: inherit;
			font-size: inherit;
		}

/* Media Queries ---------- */
/*.rwd-hidden {
	display: none;
}*/
